/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .primary{
    background: orange;
    color: white;
  }
  
  .date-block{
    display: flex;
  }
  .date-block__list{
    flex-basis: 140px;
    width: 140px;
    margin: 0px 12px;
  }

  .getbtn{
    background: #002e5b;
    border: navajowhite;
    color: white;
    border-radius: 7px;
    padding: 6px 11px;
    font-size: 12px;
    font-weight: 600;
    width: 93px;
    cursor: pointer;
    height: 35px;
}

.fa-sign-in-alt{
    font-size: 25px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 10px;
}
.fa-sign-in-alt:hover{
    font-size: 30px;
}