<!-- <div class="card mt-4">
    <h4 class="card-header">You're logged in with Angular 8 & Basic HTTP Authentication!!</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul>
    </div>
</div> -->
<div class="aggrid-conta">
    <!-- <aside>
        <section class="side-bar">
            <h2 class="text-white">Soon...</h2>
        </section>
        
    </aside> -->
    <app-datefilter [name]="myname" (changeName)="onchangeName()">


        
    </app-datefilter>
<!-- <div id="printarea" class="">
<ag-grid-angular

#content 
style="width: 1500px; height: 550px;"
class="ag-theme-balham"
[rowData]="rowData"
[columnDefs]="columnDefs"
animateRows="true"
[pagination]="true"
[sortingOrder]="sortingOrder"
(gridReady)="onGridReady()"
>
</ag-grid-angular>
</div> -->
<div class="marquee">
    <marquee width="90%" direction="left">
        D4 was formed because our founders had a deep belief in the power of data and analytics and how it can transform businesses. After successfully building multiple high impact businesses in technology and technology services, founders of D4 realized that the analytics market remains underserved due to the hype created by traditional analytics players. We felt a strong need to build a different kind of analytics company, we, in fact, do not even call ourselves an analytics company. We call ourselves a decision science company.
    </marquee>
</div>

</div>
<!-- Some Notes Abour AgGrid

enableSorting="true" 
enable Filter="true"


-->